.git
.github
.idea
.vscode
node_modules
vendor
storage/logs/*
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
storage/pail
public/hot
public/build
.env
.env.*
!.env.example
.phpunit.result.cache
.phpactor.json
npm-debug.log
yarn-error.log
tests
Homestead.*
auth.json
*.md
